<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <display-name>LoginServlet</display-name>
        <servlet-class>com.netease.is.nc.demo.web.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- 转发接口配置 -->
    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <display-name>ForwardServlet</display-name>
        <servlet-class>com.netease.is.nc.demo.web.ForwardApiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/api/v2/*</url-pattern>
    </servlet-mapping>

    <!-- 转发静态资源配置 -->
    <servlet>
        <servlet-name>ForwardStaticServlet</servlet-name>
        <display-name>ForwardStaticServlet</display-name>
        <servlet-class>com.netease.is.nc.demo.web.ForwardStaticServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForwardStaticServlet</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
